<html>
    <head>
    </head>
    <body>
    {% block body %}
        <h2>Some page title.</h2>
        <table width="100%" cellpadding="4" cellspacing="0" repeat="1">
                <tr>
                    <td>id</td><td>data</td>
                </tr>
              {% for row in data %}
                <tr style="border: 1px solid #000000;">
                    <td width="20%">{{ row .id}}</td>
                    <td width="80%">{{ row.data }}</td>
                </tr>
                 {% endfor %}
            </tbody>
        </table>
        <hr style="margin: 3em 0;"/>
      <!--  <img src="{{ url_for('static', filename='img.png', _external=True) }}" /> -->
    {% endblock %}
    </body>
</html>